.banner {
  color: white;
  object-fit: cover;
  height: 550px;
  margin-bottom: 20px;
  overflow-y: hidden;
}

.banner_contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner_title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner_description {
  width: 45rem;
  line-height: 1.4;
  padding-top: 1rem;
  font-size: 1rem;
  max-width: 360px;
  height: 80px;
}

.banner_fadeBottom {
  height: 14.3rem;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.74),
    #111
  );
}

@media (max-width: 425px) {
  .banner_contents {
    margin-left: 10px;
    padding-top: 140px;
    height: 190px;
  }

  .banner_description {
    display: flex;
    width: 45rem;
    line-height: 1.4;
    padding-top: 1rem;
    font-size: 1rem;
    max-width: 290px;
    height: 80px;
    text-align: justify;
  }
}
