.nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.7s;
}

.nav_black {
  background-color: #111;
}

.nav_logo {
  width: 100px;
  object-fit: contain;
  align-self: center;
}

.nav_avatar {
  width: 50px;
  object-fit: contain;
  position: fixed;
  right: 20px;
  align-self: center;
}

@media (max-width: 425px) {
  .nav {
    height: 70px;
  }

  .nav_logo {
    width: 90px;
  }

  .nav_avatar {
    width: 40px;
  }
}
