.row {
  margin-left: 20px;
  color: white;
}

.row_posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  height: auto;
  padding: 20px;
  align-items: center;
}

.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  min-width: 260px;
  object-fit: contain;
  max-height: 200px;
  margin-left: 15px;
  transition: transform 450ms;
}

.row_poster:hover {
  transform: scale(1.09);
}

.row_posterLarge {
  max-height: 350px;
  max-width: 300px;
}

.row_posterLarge:hover {
  transform: scale(1.09);
}

@media (max-width: 425px) {
  .row_poster {
    min-width: 200px;
    object-fit: contain;
    max-height: 200px;
    margin-left: 15px;
    transition: transform 450ms;
  }

  .row_posterLarge {
    max-height: 250px;
    max-width: 200px;
  }
}
